<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sputnikmessenger.sse_connector">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".SseConnectorJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".SseConnectorAlarmReceiver"
            android:exported="true" />
    </application>


</manifest>
